.footer {
  background: #fff;
  border-top: 0.0625rem solid #e1e1e1;
  padding: 1.3125rem 0 2.5rem;
}

.footer > .footer-container {
  max-width: 60.625rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-container div:first-child {
  margin-bottom: 1.875rem;
  vertical-align: top;
}

.footer-container div:first-child .contect {
  margin: 0;
  padding-bottom: 0.1875rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-stretch: normal;
  color: #00c7ae;
}

.footer-container div:first-child .middle {
  padding-bottom: 1.875rem;
  margin: 0;
  font-size: .875rem;
  line-height: normal;
  letter-spacing: normal;
  color: #737373;
}

.footer-container div:last-child li {
  display: inline-block;
  vertical-align: top;
  min-width: 5.9375rem;
  font-size: .875rem;
  line-height: normal;
  letter-spacing: normal;
  padding-bottom: 0.9375rem;
}

.footer-container div:last-child h4 {
  font-size: .875rem;
  margin: 0;
  font-weight: 500;
  color: #323232;
  padding-bottom: 0.3125rem;
}

.footer-container div:last-child li p {
  margin: 0;
  padding-bottom: 0.3125rem;
  color: #737373;
  cursor: pointer;
}



.footer-outtro {
  max-width: 60.625rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

.footer-outtro div:first-child {
  width: 48.875rem;
}

.footer-outtro div:first-child p:first-child {
  padding-right: 6rem;
  padding-bottom: 0.5rem;
}

.footer-outtro div:first-child span {
  font-weight: 500;
  margin-right: 1.875rem;
  font-size: .75rem;
  line-height: normal;
  letter-spacing: normal;
  color: #737373;
}

.footer-outtro div:first-child p:nth-child(2) {
  font-weight: 400;
  margin: 0;
  font-size: .75rem;
  line-height: normal;
  letter-spacing: normal;
  color: #737373;
  line-height: 1.125rem;
  padding-right: 6rem;
  padding-bottom: 0.5rem;
}

.footer-outtro div:first-child p:last-child {
  margin: 0;
  font-size: .75rem;
  line-height: normal;
  letter-spacing: normal;
  color: #737373;
}


.footer-outtro .link {
  padding-bottom: 2.5rem;
}

.footer-outtro .link > a {
  padding: 0 0.375rem 0 0;
}

.footer-outtro .link img {
  width: 1.75rem;
  height: 1.75rem;
}


.app-download > button {
  display: inline-block;
  width: 8.5rem;
  height: 2.25rem;
  background-color: #00c7ae;
  border-radius: 1.28125rem;
  color: #fff;
  font-size: .75rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: normal;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  text-align: center;
  border: none;
  cursor: pointer;
}

.app-download > button > img {
  padding-right: 0.2rem;
  margin-top: -0.3rem;
}